vimfiles/bundle/*
!vimfiles/bundle/Vundle.vim
node_modules
vimfiles/.netrwhist
vimfiles/spell
vimfiles/vimlocal.vim
*.pyc

Powershell/Logs/*
Powershell/Configs/WindowsPowerShell/*
!Powershell/Configs/WindowsPowerShell/profile.ps1
zshconfig/jira_creds.zsh
config/nvim/rustsetup
config/nvim/spell
custom/fzf.zsh
custom/cargo.zsh
tags
